<h1 class="p3">University App in Angular</h1>
<form class="w3-container">
 <div class="form-group">
    <label for="universityName" class="p3">Name</label>
 <input type="text" class="type-1" name="name" [(ngModel)]="name">
</div><br> 
<div class="form-group">
    <label for="universityAddress" class="p3">Location</label>
 <input type="text" class="type-1" name="address" [(ngModel)]="address" minlength="4" required>
</div><br>
<div class="form-group">
    <label for="universityPhone" class="p3">Phone Number</label>
 <input type="text" class="type-1" name="phone" [(ngModel)]="phone"placeholder="03-1234-5678" ng-model="person.phoneNumber" ng-pattern="patternPhoneNumber" ng-required="true">
</div><br>
<div class="btn-toolbar">
    <button type="submit" (click)="saveUniversity()" class="button button1"> Add</button>
    <button type="submit" (click)="removeUniversity()" class="button button1"> Remove</button>
    <br>
</div>
<div class="form-group">
    <br>
    <label for="universityName" class="p3">Search</label>
 <input type="text" class="form-control" name="sName" [(ngModel)]="sName">
</div><br>
<div class="btn-toolbar">
    <button type="submit" (click)="searchUniversity()" class="button button1"> Enter here</button>
    <button type="submit" (click)="searchAllUniversity()" class="button button1"> Show Universities</button>
</div>
<div *ngIf="data"><table>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
    </tr>
    <tr *ngFor="let universityData of data">
        <td>{{universityData.Name}}</td>
        <td>{{universityData.Address}}</td>
        <td>{{universityData.Phone}}</td>
    </tr>
</table>
</div>
</form>